@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
    font-family: Ubuntu;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.mainbox {
  border-radius: 30px;
  box-shadow: 10px 10px 50px 20px wheat;
}
